<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/headlines.css">


</head>
<body>
<h1>List of all Bookings</h1>

<table border = "2">
    <thead>
    <tr>
        <th>Room</th>
        <th>User</th>
        <th>StartDate</th>
        <th>EndDate</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="b : ${bookings}">
        <td th:text="${b.room.number}"></td>
        <td th:text="${b.user.name}"></td>
        <td th:text="${b.startDate}"></td>
        <td th:text="${b.endDate}"></td>
    </tr>
    </tbody>
</table>


<h1><span th:text = "|Bookings from ${startDate} to ${endDate} |"></span></h1>

<table border = "2">
    <thead>
    <tr>
        <th>Room</th>
        <th>User</th>
        <th>StartDate</th>
        <th>EndDate</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="b : ${bookingsInMonth}">
        <td th:text="${b.room.number}"></td>
        <td th:text="${b.user.name}"></td>
        <td th:text="${b.startDate}"></td>
        <td th:text="${b.endDate}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>
