<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit room</title>
</head>
<body>

<h1>Edit Room</h1>

<form action="#"  th:action="@{/rooms/update/{number}(number=${room.number})}" method = "post">
    <div>
        <label>Room number:</label>
        <span th:text="${room.number}"></span> <br> <br>
    </div>

    <label for="features">Features:</label><br>
    <input type="text" id="features" name="features" style="width: 300px" th:text="${room.features}"><br><br>

    <input type="submit" value="Save"/>

</form>
</body>
</html>