<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List of all rooms</h1>

<table border = "2">
    <thead>
    <tr>
        <th>Number</th>
        <th>Floor</th>
        <th>Features</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="r : ${rooms}">
        <td th:text="${r.number}"></td>
        <td th:text="${r.floor}"></td>
        <td th:text="${r.features}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
