<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body>

<h1>Edit features of a room</h1>

<div th:text="${room}"></div>

<form th:action="@{/rooms/updatenew/{number}(number=${room.number})}" method="post">
    <label for="features">Features:</label> <!-- for screen readers -->
    <input type="text" id="features" name="features" th:value="${room.features}">
    <input type="submit" value="Save"/>
</form>


</body>
</html>