<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/headlines.css">

    <style>
        .my_even{
            background-color: #008800
        }
        .my_odd{
            background-color: #A05050
        }

        td {
            padding-left: 10px;
            padding-right: 10px;
        }
    </style>

</head>
<body>
<h1>List of all rooms</h1>

<table border="2">
    <thead>
    <tr>
        <th></th>
        <th>Number</th>
        <th>Floor</th>
        <th>Features</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="r, iterStat : ${rooms}" th:class="${iterStat.odd} ? 'my_odd' : 'my_even'">
        <td th:text="${iterStat.count}"></td>
        <td th:text="${r.number}"></td>
        <td th:text="${r.floor}"></td>
        <td th:text="${r.features}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>
