<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit room</title>
</head>
<body>
<form action="#" th:action="@{/rooms/room-update}" method="post">

    <!-- number -->
    <!-- features -->

    <label for="number">Room number:</label><br>
    <input type="text" id="number" name="number" th:value="${room.number}"><br>

    <label for="features">Features:</label><br>
    <input type="text" id="features" name="features" th:value="${room.features}"><br>

    <input type = "submit" value = "Save"/>

</form>
</body>
</html>